.FileDrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--fg-100);
  z-index: 999;

  opacity: 0.8;
  transition: $transition-duration;
  will-change: opacity;
  pointer-events: none;

  &.hidden {
    opacity: 0;
  }

  * {
    color: var(--bg-100);
    font-size: 5vw;
  }
}
