.ImagePreview {
  @extend .flex-center;

  position: relative;
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;

  outline: none;

  pinch-zoom {
    width: 100%;
    height: 100%;
  }
}

.ZoomControls {
  $padding: 0.8rem;

  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  padding: $padding;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: var(--fg-100);
  background: var(--bg-100);
  border-radius: $radius;

  opacity: 0.8;
  &:hover {
    opacity: 1;
  }

  h1 {
    padding: $padding;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  button {
    color: inherit;
    border: none;
    outline: none;
    background: none;
    font-size: 1.4rem;
    padding: $padding 1rem;
    cursor: pointer;
    border-radius: $radius;

    &:hover {
      background: var(--bg-200);
    }
  }
}

.TileOverlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
