@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica',
    'Helvetica Neue', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-style: normal;
  line-height: initial;
  font-weight: 600;

  box-sizing: border-box;

  @include set-dark(fg);
  @include set-light(bg);

  &.dark-theme {
    @include set-light(fg);
    @include set-dark(bg);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
