.SplitSettings {
  position: absolute;
  top: $padding;
  left: $padding;
  bottom: $padding;

  min-width: 25vw;
  transform: translateX(calc(-25vw - #{$padding}));
  transition: $transition-duration transform;

  &.collapsed {
    transform: translateX(0);
  }
}

.settings {
  width: 100%;
  height: 100%;
  padding: $padding;
  overflow: hidden auto;
}
