.SplitSettings {
  flex: 1;

  display: flex;
  flex-direction: row;
}

.settings {
  height: 100vh;
  width: 20vw;
  background: $theme;
  transition: 0.3s;

  &.collapsed {
    width: 0;

    * {
      opacity: 0;
    }
  }
}

.wave {
  height: 100vh;
  cursor: pointer;
}
