$input-padding: 0.6rem 0.75rem;

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin-bottom: $margin;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  // position: relative;
  margin-top: $margin;
  font-size: 0.9rem;

  input {
    margin: 0.3rem 0 $margin;
  }
}

:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

input {
  display: block;
  padding: $input-padding;
  width: 100%;

  background: var(--bg-200);
  border: 1px solid var(--bg-300);
  border-radius: $radius;
  outline: none;

  font-family: inherit;
  font-weight: inherit;

  &[type='checkbox'] {
    display: none;

    + label {
      display: block;
      margin: 0.3rem 0 $margin;
      width: 100%;
      padding: $input-padding;
      border-radius: $radius;

      cursor: pointer;
      text-align: center;
      user-select: none;

      color: var(--fg-100);
      background: var(--bg-100);

      &:first-child {
        padding-top: 0;
      }
    }

    &:checked + label {
      color: var(--fg-100);
      background: var(--bg-100);
    }
  }

  &.invalid {
    border-color: $red !important;
  }

  &:focus,
  &.focus-visible {
    border-color: var(--fg-100);
  }
}
