p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label {
  margin: 0;
  font-weight: inherit;
  color: var(--fg-100);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--fg-100);
  text-decoration: underline;
  &:hover {
    color: var(--fg-300);
  }
}
