$white-100: #fafafa;
$white-200: #ededed;
$white-300: #d3d3d3;

$black-100: #202225;
$black-200: #292a2e;
$black-300: #36393f;

$green: #3cd178;
$red: #ff002a;

$shadow: 0px 0px 40px 3px;

$radius: 0.2rem;
$margin: 0.8rem;
$padding: 1.8rem;

$transition-duration: 0.2s;
